<!DOCTYPE html>
<html ng-app="wageApp" ng-controller="wageController">
	<head>
	  <% include ../partials/header.ejs %>
	</head>

	<body>
		<div class="header-container" bind-height-to="requiredPadding">
			<header>
				<h1>Wages</h1>&nbsp;
				<span class="btn btn-default wage-toggle" ng-if="wages.length" ng-click="toggleWageDetails()">{{wageDetails? 'Hide details' : 'Show details'}}</span>
			</header>
			<div class="toolbar">
				<csv-input></csv-input>
			</div>
		</div>
		<div class="main" ng-style="{'padding-top': requiredPadding+10+'px'}">
			<wage-list></wage-list>
		</div>
		<% include ../partials/footer.ejs %>
	</body>
</html>