<div class="input-group">
	<label class="input-group-btn">
		<span class="btn btn-primary btn-file">
			Select CSV file<input type="file" name="csv-input" accept=".csv" csv-reader>
		</span>
	</label>
	<input type="text" class="form-control" readonly value="{{csvFilename}}">
</div>