<div ng-repeat="year in wages" >
	<div ng-repeat="month in year.months">
		<h3>Monthly wages {{month.index}}/{{year.index}}</h3>
		<div class="table-container">
			<table class="table table-striped" ng-class="(wageDetails? 'details-active' : '')">
			<thead>
				<tr>
					<th ng-click="month.order = setOrder(month.order, 'index')" ng-class="(month.order.id=='index'?(month.order.reverse?'asc-sort':'desc-sort'):'')">#</th>
					<th ng-click="month.order = setOrder(month.order, 'name')" ng-class="(month.order.id=='name'?(month.order.reverse?'asc-sort':'desc-sort'):'')">Person</th>
					<th ng-click="month.order = setOrder(month.order, 'monthTotalSalaryValue')" ng-class="(month.order.id=='monthTotalSalaryValue'?(month.order.reverse?'asc-sort':'desc-sort'):'')">Salary</th>
					<th ng-click="month.order = setOrder(month.order, 'monthEveningCompensationValue')" ng-if="wageDetails" ng-class="(month.order.id=='monthEveningCompensationValue'?(month.order.reverse?'asc-sort':'desc-sort'):'')">Evening compensation</th>
					<th ng-click="month.order = setOrder(month.order, 'monthOvertimeCompensationValue')" ng-if="wageDetails" ng-class="(month.order.id=='monthOvertimeCompensationValue'?(month.order.reverse?'asc-sort':'desc-sort'):'')">Overtime compensation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="id in month.ids | orderBy:month.order.id:month.order.reverse" ng-class="(month.highlight == id.index? 'highlight-row' : '')" ng-click="(month.highlight == id.index? (month.highlight = false) : (month.highlight = id.index) )">
					<td>{{id.index}}</td>
					<td>{{id.name}}</td>
					<td>${{id.monthTotalSalary}}</td>
					<td ng-if="wageDetails">${{id.monthEveningCompensation}}</td>
					<td ng-if="wageDetails">${{id.monthOvertimeCompensation}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>